main {
    box-sizing: border-box;
    padding: 24px;
    overflow-y: auto;
}

.legal-text {
    max-width: 600px;
    height: 100%;
    font-size: 16px;
    line-height: 19.2px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: var(--black);
}

.headline {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: var(--blue);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.imprint {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.address {
    font-style: normal;
}

.important-link {
    text-decoration: none;
    color: darkblue;
}

.important-link:hover {
    text-decoration: underline;
}

.column-8 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.copyright {
    margin: 15px 0 24px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.footer-link-group {
    width: 420px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-link {
    color: var(--blue);
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}


@media (max-width: 468px) {
    .copyright {
        flex-direction: column;
        gap: 4px;
    }
}